:root{
    --pink: #fe4d9ae6;
    --bg :#0a0a0a;
    --shadow :0 2px 2px rgb(0 0 0 / 0.5)
}
body{
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/65d36fc7979f7943fbd84263_jeremy-wong-weddings-464ps_nOflw-unsplash.jpg);
    background-repeat: no-repeat;   /* ⬅ Mencegah pengulangan */
    background-size: cover;         /* ⬅ Agar gambar menutupi seluruh elemen */
    background-position: center;    /* ⬅ Opsional: memusatkan gambar */
    z-index: -1;
    filter:brightness(80%) grayscale(50%); 

}


.hero{
    position: relative;
    min-height: 100vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);

}

.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 6rem;
}
.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a{
    color: var(--pink);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover{
    background-color: var(--pink);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title{
    font-family: 'sacramento',cursive;
    font-size: 3.2rem;
font-weight: bold;
}

.mynavbar .nav-link {
   text-transform: uppercase;
}

.home::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: url(img/750118.jpg) no-repeat center center / cover;
    opacity: 0.5;
    z-index: -1;
  
    /* fade bawah */
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent);
    mask-image: linear-gradient(to bottom, black 85%, transparent);
  }

.home {
    background-repeat: no-repeat;   /* ⬅ Mencegah pengulangan */
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
  position: relative;  /* penting agar ::before absolute bisa menempel */
  z-index: 0;
  overflow: hidden;    /* mencegah efek keluar dari batas */
}

.home h2, 
.info h2, 
.story h2, 
.gallery h2,
.rsvp h2,
.gifts h2 {
    color: #fe4d9a;
    font-family: 'sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #444;
}

.home .couple{
    margin-top: 100px;
}

.home .couple h3{
    font-family: 'sacramento';
    font-size: 2.4rem;
    color: var(--pink);
}

.home .couple img {
    width: 100%;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 642px; /* ini yang nurunin */
    transform: translateX(-50%);
}

  
.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info{
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.info .alamat{
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(255, 255, 255, 0.2 ) !important;
    color: white !important ;
    border: 1px solid #999;
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem
    ;
}

.info .card-body {
    font-size: 1rem;
}

.info .card-footer{
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
}

.story, 
.gallery,
.rsvp,
.gifts{
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.story {
    padding-top: 10rem;
    padding-bottom: 8rem;
    background-color: white;
    position: relative;  /* supaya ::after bisa absolute terhadap story */
    z-index: 0;
}

.story::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, white 0%, #ffacdf 100%);
    z-index: 1;
    pointer-events: none;
}

.story span, .gallery span, .gifts span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: block;
}

.story p, .gallery p, .rsvp p, .gifts p {
    font-size: 1rem;
    font-weight: 300;
}

.gallery {
  background-color: #ffacdf;
  position: relative;
  overflow: hidden; /* agar ::before tidak keluar */
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #ccc;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline li {
  position: relative;
  margin-bottom: 20px; /* Jarak antar cerita */
  min-height: 200px;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  border: 6px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.timeline li .timeline-panel {
  width: 40%;
  padding: 2rem;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.timeline li .timeline-panel::before,
.timeline li .timeline-panel::after {
  content: '';
  position: absolute;
  top: 80px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.timeline li .timeline-panel::before {
  border-left: 15px solid #ccc;
  right: -15px;
}

.timeline li .timeline-panel::after {
  border-left: 14px solid #fff;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left: none;
  border-right: 15px solid #ccc;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left: none;
  border-right: 14px solid #fff;
  left: -13px;
  right: auto;
}

.timeline li:first-child {
  margin-top: 30px; /* atur sesuai selera, misalnya 50px */
}

.rsvp{
    background-color: var(--bg);
}

.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp p {
    color: white;
}

.rsvp form label {
    color: white;
}

.rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.rsvp button:hover {
    background-color: white;
    color: var(--pink);
    border: 1px solid white;
}

footer {
    padding: 3rem;
    background-color: var(--pink);
    color: white;
}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer li {
    list-style: none;
    display: inline;
    margin: 0.4rem;
}

.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: wheat;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from{
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Media query */
/* extra large - jangan sembunyikan */
@media (min-width: 1201px) {
    .home .heart {
     display: flex; /* atau sesuai display aslinya */
    }
}

/* laptop - tampilkan di 992px sampai 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
    .home .heart {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 485px;
    }

    html {
        font-size: 75%;
    }

    .simply-countdown > .simply-section { 
        padding: 70px;
        margin: 5px;
    }
}

/* tablet - tampilkan (atau sesuai kebutuhan) di 768px sampai 991px */
@media (min-width: 768px) and (max-width: 991px) {

     .home .heart {
    display: none;
    }

    html{
        font-size: 80%;
    }

    .simply-countdown > .simply-section { 
        padding: 45px;
        margin: 3px;
    }

  .timeline::before {
    left: 140px;
  }

  .timeline li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
    transform: none;
    position: relative;
  }

  .timeline li .timeline-panel {
    width:  450px;
    float: none;
    margin-left: auto;

  }

  /* Override semua panah untuk mengarah ke kiri */
  .timeline li .timeline-panel::before {
    border-left: none;
    border-right: 15px solid #ccc;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left: none;
    border-right: 14px solid #fff;
    left: -13px;
    right: auto;
  }

  /* Hilangkan efek float dari .timeline-inverted */
  .timeline li.timeline-inverted .timeline-panel {
    float: none;
  }
}


/* hp (mobile) - tampilkan atau sembunyikan di bawah 768px */
@media (max-width: 767px) {
    .home .heart {
        display: none; /* kalau mau disembunyikan di hp */
    }

    html {
        font-size: 55%;
    }

    .simply-countdown > .simply-section { 
        padding: 45px;
        margin: 3px;
    }

    .sticky-top {
        overflow: hidden;
    }

    .timeline::before {
        left: 60px; /* geser ke kanan */
    }

    .timeline li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
        width: 100px;
        height: 100px;
    }

    .timeline li .timeline-panel {
        width: 280px;
        float: right;
        position: relative;
        left: -50px;
        top: 10px;
    }

.timeline li .timeline-panel::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left-width: 0;
    border-right-width: 15px;
    border-right-style: solid;
    border-right-color: #ccc;
    left: -15px;
    right: auto;
    z-index: 1;
}

.timeline li .timeline-panel::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left-width: 0;
    border-right-width: 14px;
    border-right-style: solid;
    border-right-color: #fff;
    left: -13px;
    right: auto;
    z-index: 2;
}

}
